@font-face {
    font-family: 'Roboto';
    src: url("./assets/font/Roboto-Regular.ttf");
    font-size: normal;
    font-weight: normal;
}

body {
    font-family: 'Roboto', 'Franklin Gothic Medium', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #18181b;
}

header {
    background: linear-gradient(#111827, #172554);
    box-shadow: 0 14px 22px lightgray;
}

header nav {
    animation: nav-fade-in 7s 1;
    position: absolute;
    right: 0;
    display: flex;
}

nav button {
    min-width: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    font-size: large;
    background-color: #111827;
    color: #f1f5f9c9;
    border: none;
    text-align: center;
    padding: 1.2rem;
}

.navIcon {
    width: 30px;
    margin-right: 6px;
}

nav button:hover {
    background-color: #1e273a;
    color: #f1f5f9;
    cursor: pointer;
}

section.introduction {
    height: 100vh;
    color: #f1f5f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.introduction h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36px;
    animation: intro-fade-in 3s;
}

section.introduction span{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 48px;
    animation: name-fade-in 4s 1;
}

section.introduction p{
    text-align: center;
    font-size: x-large;
    animation: desc-fade-in 6s 1;
}

section.about {
    padding: 0 10% 0 10%;
    min-height: 70vh;
    background-color: #172554;
    color: #f1f5f9;
}

section.about > :not(.animation) {
    opacity: 0;
}

section.about h2 {
    margin: auto;
    color: #f1f5f9;
    font-size: 36px;
    padding: 1rem;
}

section.about h2.animation {
    animation: about-h2-fade 1.5s;
}

section.about p {
    color: #f1f5f9;
    padding: 1rem;
    line-height: 1.5;
    margin: auto;
}

section.about p.animation {
    animation: about-fade 2s;
}

.logos {
    padding-top: 1em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
}

section.about .logos.animation {
    animation: logo-fade 2s;
}

.logos div {
    place-self: center;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em;
    transition: transform 1s;
}

.logos div:hover {
    transform: scale(1.2);
}

.logos img {
    width: 70%;
    height: 70%;
}

section.projects {
    padding: 1em 10% 1.5em 10%;
    background-color: #172554;
    color: #f1f5f9;
}

section.projects h2 {
    padding: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    font-size: 36px;
}

.project-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-grid .project-card {
    place-self: center;
    background-color: #f1f5f9ee;
    color: #111827;
}


section.projects h2.animation, .project-grid .project-card.animation {
    animation: work-fade 2s;
}

section.projects > :not(.animation) {
    opacity: 0;
}

.project-card img {
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px -1px 8px;
}

.project-card h3 {
    margin: 0.5em;
    margin-left: 1em;
}

.project-card span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc a {
    text-decoration: none;
    border: none;
    background-color: #e2e6ee;
    border-radius: 30%;
    transition: transform 1s;
}

.desc a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.desc i {
    font-size: 36px;
}

.desc div {
    margin-right: 1em;
}

.desc p {
    min-height: 80px;
    margin-left: 1em;
}

footer {
    overflow-x: hidden;
    background-color: #18181b;
    color: #f1f5f9;
    border-top: 2px dashed #94a3b8;
    padding: 0 10% 0 10%;
}

footer h2 {
    margin-top: 0;
    padding-top: 1rem;
    font-size: 36px;
}

footer p {
    line-height: 1.5;
}

footer h2.animation, footer p.animation {
    animation: footer-fade 1.5s;
}

footer > span {
    padding: 0.2rem;
}

footer > span.animation {
    animation: contact-fade 1.5s;
}

footer > :not(.animation) {
    opacity: 0;
}

footer i {
    font-size: 48px;
    color: #f5f5f5;
}

footer a {
    text-decoration: none;
    border: none;
    background-color: #18181b;
    border-radius: 30%;
    transition: transform 1s;
}

footer a:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.contact-logos {
    display: flex;
    justify-content: space-evenly;
}



@media (min-width: 640px) {
    .desc p {
        min-height: 100px;
    }

    .contact-info {
        display: flex;
        justify-content: space-between;
    }

    .contact-logos {
        display: flex;
        align-items: flex-end;
        padding: 1rem;
    }

    .contact-logos a {
        padding: 1em;
    }
}


@media (max-width: 400px) {
    nav button {
        min-width: 50px;
        padding: 15px 10px 15px 10px;
        font-size: medium;
    }

    .navIcon {
        padding: 0;
    }
}

@media (min-width: 1320px) {
    .project-grid {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}


@keyframes intro-fade-in {
    from {
        transform: translateY(-100%);
        opacity: 0%;
    }

    10% {
        opacity: 0%;
    }

    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes name-fade-in {
    from {
        opacity: 0%;
    }


    50% {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes desc-fade-in {
    from {
        opacity: 0%;
    }

    60% {
        transform: translateY(200%);
        opacity: 0%;
    }

    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes nav-fade-in {
    from {
        transform: translateY(-400%);
    }

    60% {
        transform: translateY(-400%);
    }

    80% {
        transform: translateY(20%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes about-h2-fade {
    from {
        opacity: 0%;
        transform: translateX(-25%);
    }

    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes about-fade {
    from {
        opacity: 0%;
        transform: translateY(100%);
    }

    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes logo-fade {
    from {
        opacity: 0%;
        transform: translateY(100%);
    }

    50% {
        opacity: 0%;
        transform: translateY(100%);
    }

    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes work-fade {
    from {
        opacity: 0%;
        transform: translateY(50%);
    }

    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes footer-fade {
    from {
        opacity: 0%;
        transform: translateX(-75%);
    }

    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes contact-fade {
    from {
        opacity: 0%;
        transform: translateX(75%);
    }

    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}